<app-navbar></app-navbar>
<app-leftbar></app-leftbar>
<div class="clearfix"></div>
  <div class="content-wrapper">
    <div class="container-fluid">
    <!-- Breadcrumb-->
     <div class="row pt-2 pb-2">
        <div class="col-sm-9">
        <h4 class="page-title">Form Layouts</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javaScript:void();">Dashtreme</a></li>
            <li class="breadcrumb-item"><a href="javaScript:void();">Forms</a></li>
            <li class="breadcrumb-item active" aria-current="page">Form Layouts</li>
         </ol>
     </div>
    
     </div>
    <!-- End Breadcrumb-->


    <div class="row">
         <div class="card">
            <div class="card-header"><i class="fa fa-table"></i> List Type Cars </div>
            <div class="card-body">

              <div class="table-responsive">
              <table id="default-datatable" class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name User</th>
                        <th>Email</th>
                        <th>CIN | N°_Passport </th>
                        <th>Phone Number</th>
                        <th>Created By User</th> 
                        <th>Type User</th> 
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> 2 </td>
                        <td>Khalil Frikha </td>
                        <td>khalil@gmail.com</td>
                        <td> 10075063 - C7887</td>
                        <td> 55056341</td>
                        <td> Mahmoud Ammar </td>
                        <td> User Manager </td>
                        <td>
                          <button type="button" class="btn btn-outline-warning waves-effect waves-light m-1"> <i class="fa fa-edit"></i> <span>Edit</span> </button>
                         <button type="button" class="btn btn-outline-danger waves-effect waves-light m-1"> <i class="fa fa fa-trash-o"></i> <span>Delete</span> </button>
                        </td>
                    </tr>  
                </tbody>
                <tfoot>
                    <tr>
                        <th>ID</th>
                        <th>Name User</th>
                        <th>Email</th>
                        <th>CIN | N°_Passport </th>
                        <th>Phone Number</th>
                        <th>Created By User</th> 
                        <th>Type User</th> 
                        <th>Actions</th>
                    </tr>
                </tfoot>
            </table>
            </div>
            </div>
          </div> 
    </div><!--End Row-->
</div>